<h1>КОРЗИНА</h1>
<div id="cart-content">
    {% if username != 'admin' %}
        <form>
            <input name="name" id="name" type="text"placeholder="введите имя" pattern="^[а-яА-Я]+$" required>
            <input name="phone" id="phone" type="text" placeholder="+7 999 999 99 99" pattern="^(\s*)?(\+)?([- _():=+]?\d[-
         _()
        :=+]?){10,14}(\s*)?$" required>
            <button id="submit-order">Оформить заказ</button>
        </form>
    {% endif %}

    <div id="cart" data-id="{{ item.id_cart}}">
        {% for item in cart %}
            <div class="cart-item">
                <a href="/product/card/?id={{ item.id_prod}}">
                    <h3>{{ item.name}}</h3>
                    <img width="150px" src="/img/{{ item.image}}" alt="">
                    <p>{{ item.short_desc}}</p>
                    <p>{{ item.price}}</p>
                </a>
                {% if username != 'admin' %}
                    <div class="del" id="{{ item.id_cart}}">удалить из корзины</div>
                {% endif %}

            </div>


        {% endfor %}
    </div>
</div>


<script>
    let submitOrder = document.querySelector('#submit-order');

    submitOrder.addEventListener('click', (event) =>{
        event.preventDefault();
        let name = document.querySelector('#name').value;
        let phone = document.querySelector('#phone').value;
        (

            async () => {
                const response = await fetch('/cart/createorder/', {
                    method: 'POST',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    }),
                    body: JSON.stringify({
                        name: name,
                        phone: phone,
                    })
                });
                const answer = await response.json();
                if (answer.response === 'ok'){
                  document.querySelector('#cart-content').innerHTML = '<p class="order-submited">Заказ сформирован</p>';
                    document.getElementById('count').innerText = 0;
              }

            }
        )();
    });


    let delFromCart = document.querySelectorAll('.del');

    delFromCart.forEach((elem) => {
        elem.addEventListener('click', (event) => {
            let id = elem.getAttribute('id');

            (
                async () => {
                    const response = await fetch('/cart/DelFromCart/', {
                        method: 'POST',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        }),
                        body: JSON.stringify({
                            id: id,
                        })
                    });
                    const answer = await response.json();
                    if (answer.response === 'ok'){
                        let margin = 0;
                        event.target.parentNode.style.filter = 'grayscale(1)';
                        setInterval(()=>{
                            event.target.parentNode.style.marginLeft = margin +'px' ;
                            margin -= 30;
                            if (margin <= -3000 ){
                                event.target.parentNode.remove();
                            }

                        },15);


                    }
                    document.getElementById('count').innerText = answer.count;
                }
            )();
        })
    });
</script>