<h1>Каталог</h1>
<div id="catalog">
    {% for item in catalog %}
        <div class="product-item">
            <a href="/product/card/?id={{ item.id}}">
                <h3>{{ item.name }}</h3>
                <img width="150px" src="/img/{{ item.image }}" alt="">
                <p>{{ item.short_desc}}</p>
                <p>{{ item.price}}</p>
            </a>
            <div class="buy" data-id="{{ item.id}}">добаваить в корзину</div>
        </div>


    {% endfor %}
</div>

<button id="limit" data-from="1" data-to="1">еще(+1)</button>

<script>
    let addToCart = document.querySelectorAll('.buy');

    addToCart.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('data-id');
            (
                async () => {
                    const response = await fetch('/cart/AddToCart/', {
                        method: 'POST',
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        }),
                        body: JSON.stringify({
                            id: id,
                        })
                    });
                    const answer = await response.json();
                    document.getElementById('count').innerText = answer.count;
                }
            )();
        })
    });



const limit = document.querySelector('#limit');

limit.addEventListener('click', ()=>{

    (async ()=>{
        const response = await fetch('/product/apilimit/?from=' + +limit.dataset.from + '&to=' + +limit.dataset.to);
        const answer = await response.json();
        answer.forEach (function(item, i, arr){
            let product = `
<div class="product-item">
<a href="/product/card/?id=${item.id}">
        <h3>${item.name}</h3>
        <img width="150px" src="/img/${item.image}" alt="">
        <p>${item.short_desc}</p>
        <p>${item.price}</p>
    </a>
<div class="buy" data-id="${item.id}">добаваить в корзину</div>
</div>

           `;
            document.querySelector('#catalog').insertAdjacentHTML("beforeend", product);
            let productBuy = document.getElementsByClassName('buy')[document.getElementsByClassName('buy').length - 1];
            productBuy.addEventListener('click', () => {
                let id = productBuy.getAttribute('data-id');
                (
                    async () => {
                        const response = await fetch('/cart/AddToCart/', {
                            method: 'POST',
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            }),
                            body: JSON.stringify({
                                id: id,
                            })
                        });
                        const answer = await response.json();
                        document.getElementById('count').innerText = answer.count;
                    }
                )();
            });
        });
        limit.dataset.from = +limit.dataset.from + 1;
    })();


});
</script>
